:root {
  /* Bonus
  --progress-bar-value: 30; 
  */
}

.progress,
.bar {
  border-radius: 2.5rem;
}
.progress {
  background: #ccd6f4;
  height: 8vh;
  width: 50vw;
}

.bar {
  background-color: #f0984e;
  height: 100%;
  max-width: calc(var(--progress-bar-value, 30) * 1%);

  position: relative;
}

.bar::before {
  content: attr(data-label);

  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);

  font-weight: bold;
  color: brown;

  padding: 0.5rem;
}
